alembic==0.8.4
astroid==2.3.3
Babel==2.1.1
beautifulsoup4==4.4.1
blinker==1.4
colorama==0.4.1
coverage==4.0.3
decorator==4.0.4
defusedxml==0.4.1
Flask==0.10.1
Flask-Babel==0.9
Flask-Mail==0.9.1
Flask-Migrate==1.7.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.12
flipflop==1.0
gunicorn==19.4.5
httplib2==0.11.3
isort==4.3.21
itsdangerous==0.24
Jinja2==2.8
lazy-object-proxy==1.4.3
lxml==4.6.5
Mako==1.1.0
MarkupSafe==0.23
mccabe==0.6.1
pbr==1.8.1
psycopg2-binary==2.8.4
pylint==2.4.4
python-editor==0.5
pytz==2015.7
requests==2.23.0
sendgrid==6.3.0
six==1.13.0
speaklater==1.3
SQLAlchemy==1.3.11
sqlalchemy-migrate==0.10.0
sqlparse==0.1.18
Tempita==0.5.2
Werkzeug==0.16.0
wrapt==1.11.2
WTForms==2.0.2
