<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow" />

    <title>{{ _('Error') }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <style>
    body {
        background: #fbfbfb;
    }

    .well {
        margin: 50px auto;
        text-align: center;
        padding: 25px;
        max-width: 600px;
    }
    h1, h2, h3, p {
        margin: 0;
    }
    p {
        font-size: 17px;
        margin-top: 25px;
    }
    p a.btn {
        margin: 0 5px;
    }
    </style>

</head>
<body>
s
    <div class="container">
        <div class="well">
            <h1><div class="glyphicon glyphicon-warning-sign"></div> {{ _('An error has occurred') }}</h1>
            <p>{{ _('We are sorry to inform an internal error has occurred. The site administrator has been contacted and we will try to fix this as soon as possible.') }}</p>
            <p>
                <a class="btn btn-default btn-lg" href="{{ url_for('index') }}">{{ _('Back to Homepage') }}</a>
            </p>
        </div>
    </div>

</body>
</html>