{% extends "base.html" %}

{% block content %}

<div class="well" style="margin: 20px auto; text-align: center; padding: 25px; max-width: 600px">
    <h2 style="margin: 0"><div class="glyphicon glyphicon-warning-sign"></div> {{ _('An error has occurred') }}</h2>
    <p style="margin-top: 5px ">{{ _('We are sorry to inform an internal error has occurred. The site administrator has been contacted and we will try to fix this as soon as possible.') }}</p>
    <p>
        <a style="margin: 5px 5px" class="btn btn-default btn-sm" href="{{ url_for('index') }}">{{ _('Back to Homepage') }}</a>
    </p>
</div>

{% endblock %}



