<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="As notícias mais lidas dos maiores Sites de Notícias de todo o mundo">
    <meta name="author" content="Fernando Pedrosa">

    <title id="page-title">{{ title }} - As Mais Lidas</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/custom.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/images/favicon.ico">

</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-header pull-right" id="navbar-info">
            <ul class="list-inline" id="aml-nav-menu">
                <li>
                    <!--We set the text with a script (see at the bottom)-->
                    <a id="lang" href="#">{{ _('PORTUGU\u00caS') }}</a>
                </li>
                <li>
                    <a id="contact" href="#" data-toggle="modal" data-target="#contact-modal">{{_('CONTACT')}}</a>
                </li>
                <li>
                    <a id="about" href="#" data-toggle="modal" data-target="#about-modal">{{_('ABOUT')}}</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container aml-top-header">
    <div class="row">
        <div class="jumbotron">
            <h1 id="aml-title">{{ _('The Most Read') }}
                <small>{{_('news you want to read.')}}</small>
            </h1>
            <p id="aml-description">{{_('Here you find the most read news from popular News Websites from all around the world. If you are in Brazil, we will try to show you some regional news from your location*')}}</p>
            <button id="btn-national" type="button" class="btn btn-lg btn-success aml-btn">{{_('National')}}</button>
            <button id="btn-international" type="button" class="btn btn-lg btn-primary aml-btn">{{_('International')}}</button>
        </div>
    </div>
</div>
<!-- /Navigation -->
<div class="container">
    <div class="row">
        <div class="form-group col-xs-5  col-md-2">
            <label id="label-select-category" for="select-category">{{_('Category')}}</label>
            <select class="form-control" id="select-category">
                <option value="news">{{_('News')}}</option>
                <option value="sports">{{_('Sports')}}</option>
                <option value="technology">{{_('Technology')}}</option>
                <option value="entertainment">{{_('Entertainment')}}</option>
                <option value="music">{{_('Music')}}</option>
                <option value="reddit">Reddit</option>
            </select>
        </div>
        <div class="form-group col-xs-6  col-md-2">
            <label id="label-select-location" for="select-location">{{_('Change your location (Brazil)*')}}</label>
            <select class="form-control" id="select-location">
                <option value="">{{_('Select')}}</option>
                <option value="localAC">Acre</option>
                <option value="localAL">Alagoas</option>
                <option value="localAP">Amapá</option>
                <option value="localAM">Amazonas</option>
                <option value="localBA">Bahia</option>
                <option value="localCE">Ceará</option>
                <option value="localDF">Distrito Federal</option>
                <option value="localES">Espirito Santo</option>
                <option value="localGO">Goiás</option>
                <option value="localMA">Maranhão</option>
                <option value="localMS">Mato Grosso do Sul</option>
                <option value="localMT">Mato Grosso</option>
                <option value="localMG">Minas Gerais</option>
                <option value="localPA">Pará</option>
                <option value="localPB">Paraíba</option>
                <option value="localPR">Paraná</option>
                <option value="localPE">Pernambuco</option>
                <option value="localPI">Piauí</option>
                <option value="localRJ">Rio de Janeiro</option>
                <option value="localRN">Rio Grande do Norte</option>
                <option value="localRS">Rio Grande do Sul</option>
                <option value="localRO">Rondônia</option>
                <option value="localRR">Roraima</option>
                <option value="localSC">Santa Catarina</option>
                <option value="localSP">São Paulo</option>
                <option value="localSE">Sergipe</option>
                <option value="localTO">Tocantins</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-5 col-md-2">
            <div class="list-group" id="aml-menu">
                <a href="javascript:void(0)" id="uol" class="list-group-item news active national">UOL</a>
                <a href="javascript:void(0)" id="g1" class="list-group-item news national">G1</a>                
                <a href="javascript:void(0)" id="folha" class="list-group-item news national">Folha</a>
                <a href="javascript:void(0)" id="veja" class="list-group-item news national">Veja</a>                
                <a href="javascript:void(0)" id="local" class="list-group-item news national">Local</a>
                <a href="javascript:void(0)" id="reu" class="list-group-item news international">Reuters</a>
                <a href="javascript:void(0)" id="wp" class="list-group-item news international">Washington Post</a>
                <a href="javascript:void(0)" id="tg" class="list-group-item news international">The Guardian</a>
                <a href="javascript:void(0)" id="ep" class="list-group-item news international">El País</a>
                <a href="javascript:void(0)" id="lf" class="list-group-item news international">Le Figaro</a>

                <a href="javascript:void(0)" id="e_fox_br" class="list-group-item sports national">Fox Sports</a>
                <a href="javascript:void(0)" id="e_lance" class="list-group-item sports national">Lance</a>


                <a href="javascript:void(0)" id="en_fuxico" class="list-group-item entertainment national">Fuxico</a>
                <a href="javascript:void(0)" id="en_nerd" class="list-group-item entertainment national">Jovem Nerd</a>

                <a href="javascript:void(0)" id="tec_g1" class="list-group-item technology national">G1 Tecnologia</a>
                <a href="javascript:void(0)" id="tec_conv" class="list-group-item technology national">Convergência Digital</a>
                
                <a href="javascript:void(0)" id="m_whiplash" class="list-group-item music national">Whiplash</a>
                <a href="javascript:void(0)" id="m_rs" class="list-group-item music national">Rolling Stone</a>

                <a href="javascript:void(0)" id="re_ask" class="list-group-item reddit national">Ask Reddit</a>
                <a href="javascript:void(0)" id="re_til" class="list-group-item reddit national">TIL</a>
                <a href="javascript:void(0)" id="re_world" class="list-group-item reddit national">World News</a>
                <a href="javascript:void(0)" id="re_life" class="list-group-item reddit national">Life Pro Tips</a>
                <a href="javascript:void(0)" id="re_science" class="list-group-item reddit national">Science</a>              
                

            </div>
        </div>

        <div id="loading"><img src="../static/images/ajax-loader.gif"></div>

        <!-- Page Content -->
        <div class="col-xs-7 col-md-10">
            {% block content %} {% endblock %}

        </div>
        <!-- /Page Content -->
    </div>
    <!-- /Row -->
</div>
<!-- /Container -->

<div class="container text-center">
    <footer class="footer">
        <p class="footer-text">Copyright © As Mais Lidas {{ year }}</p>
    </footer>
</div>

<!-- Modals -->

<!-- About Modal -->

<div id="about-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="about-header">Sobre</h4>
            </div>
            <div class="modal-body" id="about-modal-body">
                <p><b>{{_('The Most Read')}}</b> {{_('is a website for those who want to get straight to the point.')}}</p>

                <p>{{_('The idea came when thinking about those who have no time (or desire) to navigate multiple websites just to find what really matters.')}}</p>

                <p> {{_('Here you can find, in a single place, the most read news from the biggest News Websites from all around the world and get information in a matter of minutes.')}}</p>

                <p>{{_('Furthermore, if you are in Brazil, we will try to discover your location through the use of the IP Geolocation* technology (GeoIP).')}}</p>

                <p>
                    <em>{{_('The GeoIP technology is possible thanks to http://www.localizaip.com.br. Although modern, this technology has some accuracy limitations.')}}</em>
                </p>
            </div>
            <div class="modal-footer">
                <button id="btn-close-about-modal" type="button" class="btn btn-default" data-dismiss="modal">{{_('Close')}}</button>
            </div>
        </div>
    </div>
</div>

<!-- Contact Modal -->
<div id="contact-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->'
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="contact-header">Contato</h4>
            </div>
            <div class="modal-body" id="contact-modal-body">
                <form id="contact-form" method="post" action="{{ url_for('send_message') }}" name="contact-form">
                    {{ contact_form.hidden_tag() }}
                    <div class="form-group">
                        {{ contact_form.name.label }}
                        {{ contact_form.name(class="form-control", placeholder=contact_form.name.description, id="contact-name") }}
                        <p class="text-danger"></p>
                    </div>
                    <div class="form-group">
                        {{ contact_form.email.label }}
                        {{ contact_form.email(class="form-control", placeholder=contact_form.email.description, id="contact-email") }}
                        <p class="text-danger"></p>
                    </div>
                    <div class="form-group">
                        {{ contact_form.message.label }}
                        {{ contact_form.message(class="form-control", rows="4", placeholder=contact_form.message.description, id="contact-message") }}
                        <p class="text-danger"></p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-submit-contact" type="button" class="btn btn-primary pull-left">{{_('Send')}}</button>
                <button id="btn-close-contact-modal" type="button" class="btn btn-default" data-dismiss="modal">{{_('Close')}}</button>
            </div>
        </div>
    </div>
</div>
'
<!-- /Modals -->


<!-- jQuery -->
<script src="../static/js/jquery/jquery.min.js"></script>

<!-- Bootstrap JavaScript -->
<script src="../static/css/bootstrap/js/bootstrap.min.js"></script>


<script>

    /*
     Updates regional news source
     */

    baseURL = window.location.protocol + "//" + window.location.host;

    $.get(
            baseURL + '/get_local_ns',
            function (responseContent) {
                //If the User State Location was not found, then we hide the Local news source
                if (responseContent.state == 'notfound') {
                    $('#local').hide();
                } else {
                    $('#local').show();
                    $('#local').text(responseContent.ns_title);
                    $('#local').data('state', responseContent.state);
                    //Set the Location Select list
                    $('#select-location').val('local' + responseContent.state).prop('selected', true);
                }
            },
            'json'
    );

</script>
<!--/Get User IP -->

<!-- Custom JavaScript -->
<script src="../static/js/custom.js"></script>

<!-- Google Analyics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69683343-2', 'auto');
  ga('send', 'pageview');

</script>

</body>

</html>
