<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="News aggregator website from the most popular News Websites from all around the world">
    <meta name="author" content="Fernando Pedrosa">

    <title id="page-title">{{ title }} - As Mais Lidas</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/custom.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/images/favicon.ico">

</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-info">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-info">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <!--We set the text with a script (see at the bottom)-->
                    <a id="lang" href="#">{{ _('PORTUGU\u00caS') }}</a>
                </li>
                <li>
                    <a id="contact" href="#" data-toggle="modal" data-target="#contact-modal">CONTATO</a>
                </li>
                <li>
                    <a id="about" href="#" data-toggle="modal" data-target="#about-modal">SOBRE</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container aml-top-header">
    <div class="row">
        <div class="jumbotron">
            <h1 id="aml-title">As mais lidas
                <small>as notícias que você quer ler.</small>
            </h1>
            <p id="aml-description">Aqui você encontra as matérias mais lidas dos grandes Portais de Notícias nacionais
                ou internacionais. Se
                você estiver no Brasil, também mostraremos um site da sua região*
            </p>
            <button id="btn-national" type="button" class="btn btn-lg btn-success aml-btn">Nacional</button>
            <button id="btn-international" type="button" class="btn btn-lg btn-primary aml-btn">Internacional</button>
        </div>
        <!--
         <div class="col-xs-12 page-header">
             <img src="../static/logo.png" id="logo"/>
             <h1 class="aml-disclaimer"> <small>As notícias que você quer ler.</small></h1>
         </div>
         < /.col-lg-12 -->
    </div>
</div>
<!-- /Navigation -->
<div class="container">
    <div class="row">
        <div class="form-group col-xs-6  col-md-2">
            <label id="label-select-location" for="select-location">Mude sua localização*</label>
            <select class="form-control" id="select-location">
                <option value="">Selecione</option>
                <option value="localAC">Acre</option>
                <option value="localAL">Alagoas</option>
                <option value="localAP">Amapá</option>
                <option value="localAM">Amazonas</option>
                <option value="localBA">Bahia</option>
                <option value="localCE">Ceará</option>
                <option value="localDF">Distrito Federal</option>
                <option value="localES">Espirito Santo</option>
                <option value="localGO">Goiás</option>
                <option value="localMA">Maranhão</option>
                <option value="localMS">Mato Grosso do Sul</option>
                <option value="localMT">Mato Grosso</option>
                <option value="localMG">Minas Gerais</option>
                <option value="localPA">Pará</option>
                <option value="localPB">Paraíba</option>
                <option value="localPR">Paraná</option>
                <option value="localPE">Pernambuco</option>
                <option value="localPI">Piauí</option>
                <option value="localRJ">Rio de Janeiro</option>
                <option value="localRN">Rio Grande do Norte</option>
                <option value="localRS">Rio Grande do Sul</option>
                <option value="localRO">Rondônia</option>
                <option value="localRR">Roraima</option>
                <option value="localSC">Santa Catarina</option>
                <option value="localSP">São Paulo</option>
                <option value="localSE">Sergipe</option>
                <option value="localTO">Tocantins</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-5 col-md-2">
            <div class="list-group" id="aml-menu">
                <a href="javascript:void(0)" id="uol" class="list-group-item active national">UOL</a>
                <a href="javascript:void(0)" id="g1" class="list-group-item national">G1</a>
                <a href="javascript:void(0)" id="r7" class="list-group-item national">R7</a>
                <a href="javascript:void(0)" id="folha" class="list-group-item national">Folha</a>
                <a href="javascript:void(0)" id="bol" class="list-group-item national">BOL</a>
                <a href="javascript:void(0)" id="carta" class="list-group-item national">Carta Capital</a>
                <a href="javascript:void(0)" id="veja" class="list-group-item national">Veja</a>
                <a href="javascript:void(0)" id="local" class="list-group-item national">Local</a>
                <a href="javascript:void(0)" id="ny" class="list-group-item active international">NY Times</a>
                <a href="javascript:void(0)" id="wp" class="list-group-item international">Washington Post</a>
                <a href="javascript:void(0)" id="tg" class="list-group-item international">The Guardian</a>
                <a href="javascript:void(0)" id="tt" class="list-group-item international">The Telegraph</a>
                <a href="javascript:void(0)" id="ep" class="list-group-item international">El País</a>
                <a href="javascript:void(0)" id="lf" class="list-group-item international">Le Figaro</a>
            </div>
        </div>

        <div id="loading"><img src="../static/images/ajax-loader.gif"></div>

        <!-- Page Content -->
        <div class="col-xs-7 col-md-10">
            {% block content %} {% endblock %}

        </div>
        <!-- /Page Content -->
    </div>
    <!-- /Row -->
</div>
<!-- /Container -->

<div class="container text-center">
    <footer class="footer">
        <p class="footer-text">Copyright © As Mais Lidas {{ year }}</p>
    </footer>
</div>

<!-- Modals -->

<!-- About Modal -->

<div id="about-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="about-header">Sobre</h4>
            </div>
            <div class="modal-body" id="about-modal-body">
                <p><b>As Mais Lidas</b> é um site para quem deseja ir direto ao ponto.</p>

                <p>A ideia surgiu pensando em quem
                    não tem tempo (ou o desejo) de navegar em diversos locais apenas para achar aquilo que mais lhe
                    interessa.</p>

                <p> Aqui você pode achar, em um único lugar, as notícias mais lidas dos grandes Portais de
                    Notícias do mundo inteiro e se informar em questão de minutos!</p>

                <p>Além disso, se você estiver no Brasil, nós tentaremos descobrir aonde você está por meio da
                    tecnologia de geolocalização por IP* ou "GeoIP".
                </p>

                <p> Caso tenha dúvidas ou sugestões, por favor entre em contato pelo link "CONTATO" no topo da página.
                    Com os agradecimentos da nossa equipe, divirta-se e informe-se!</p>

                <p>
                    <em>* A tecnologia "GeoIP" é possível graças ao site http://www.localizaip.com.br. Apesar de
                        moderna, esta tecnologia apresenta
                        limitações de precisão.</em>
                </p>
            </div>
            <div class="modal-footer">
                <button id="btn-close-about-modal" type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Contact Modal -->
<div id="contact-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="contact-header">Contato</h4>
            </div>
            <div class="modal-body" id="contact-modal-body">
                <form id="contact-form" method="post" action="{{ url_for('send_message') }}" name="contact-form">
                    {{ contact_form.hidden_tag() }}
                    <div class="form-group">
                        {{ contact_form.name.label }}
                        {{ contact_form.name(class="form-control", placeholder="Digite o seu nome", id="contact-name") }}
                        <p class="text-danger"></p>
                    </div>
                    <div class="form-group">
                        {{ contact_form.email.label }}
                        {{ contact_form.email(class="form-control", placeholder="Digite o seu email", id="contact-email") }}
                        <p class="text-danger"></p>
                    </div>
                    <div class="form-group">
                        {{ contact_form.message.label }}
                        {{ contact_form.message(class="form-control", rows="4", placeholder="Digite sua mensagem com sugestões relatos de problemas ou qualquer outra coisa que você achar importante", id="contact-message") }}
                        <p class="text-danger"></p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-submit-contact" type="button" class="btn btn-primary pull-left">Enviar</button>
                <button id="btn-close-contact-modal" type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- /Modals -->


<!-- jQuery -->
<script src="../static/js/jquery/jquery.min.js"></script>

<!-- Bootstrap JavaScript -->
<script src="../static/css/bootstrap/js/bootstrap.min.js"></script>

<!-- Get User IP and set localized news feed -->
<script type="text/javascript">
    var userip;
</script>

<script type="text/javascript" src="http://l2.io/ip.js?var=userip"></script>

<script>

    /*
     Updates regional news source
     */

    baseURL = window.location.protocol + "//" + window.location.host;

    $.get(
            baseURL + '/get_local_ns',
            {
                ip: userip
            },
            function (responseContent) {
                //If the User State Location was not found, then we hide the Local news source
                if (responseContent.state == 'notfound') {
                    $('#local').hide();
                } else {
                    $('#local').show();
                    $('#local').text(responseContent.ns_title);
                    $('#local').data('state', responseContent.state);
                    //Set the Location Select list
                    $('#select-location').val('local' + responseContent.state).prop('selected', true);
                }
            },
            'json'
    );
</script>
<!--/Get User IP -->

<!-- Custom JavaScript -->
<script src="../static/js/custom.js"></script>

</body>

</html>
